
/* הקופון */
.SingleCoupon {
    width: 90%; /* מתאים ל-90% מרוחב המסך */
    max-width: 400px; /* רוחב מקסימלי */
    min-width: 250px; /* רוחב מינימלי */
    height: auto; /* גובה אוטומטי לפי התוכן */
    padding: 20px; /* ריווח פנימי */
    background: #f4f4f4;
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* צל */
    text-align: center;
    overflow: hidden; /* מניעת גלילה פנימית */
    box-sizing: border-box; /* להתחשב בריווח בחישוב הגודל */
}

/* תמונת הקופון */
.single-coupon-image {
    width: 100%; /* תמונה ברוחב מלא של הקופון */
    max-height: 200px; /* גובה מקסימלי */
    object-fit: cover; /* שמירה על יחס ממדים */
    border-radius: 8px;
    margin-bottom: 10px; /* רווח מתחת לתמונה */
}

.SingleCoupon button{
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}